/*postavlja sve elemente da koriste border box model*/
* {
  box-sizing: border-box;
}
/*da se ima minimalna visina tj uzima 100 posto visinu ekrana*/
html {
  min-height: 100vh;
}
/*resetira zadane margine i osigurava da body pokriva uvijek cijeli zaslon*/
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/*Navigacija header*/

.header-section {
  overflow: auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.navigation-bar {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 20px;
  flex-wrap: wrap;
}

.unordered-list,
.transition-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}


.unordered-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.transition-list li a{
  color: rgb(255, 149, 0);
  text-decoration: none;
  font-weight: bold;
}

.unordered-list li a:hover {
  color: #f6c000;
  transition: 0.3s;
}

.transition-list li a:hover{
  color: #f6c000;
}

.hamburger-menu {
  display: none; /* po želji dodat za mobile view */
}

.orange-line {
  height: 3px;
  width: 100%;
  max-width: 1000px;
  background-color: #ff8c00;
  margin: 5px auto;
}

/*O nama uredivanje*/
.about-us #about-link{
  margin: 20px 0px;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  font-size: 30px;
}

.about-us h2 {
  font-size: 40px;
  text-align: center;
}

/*Ureduje tekst koji ima naziv klase red-text*/
.red-text {
  font-weight: bold;
  color: #bf3939;
  margin: 50px 0;
  text-align: center;
  font-size: 30px;
}
/*Ureduje ikone koje imaju naziv klase red-icon*/
.red-icon {
  vertical-align: middle;
  margin-right: 5px;
}
/*implementira se na svakom paragrafu gdje ima div klasu graybackground */
.gray-background {
background-color: #ececec;
font-style: italic;
padding: 50px;
}

/*footer*/

.footer-section-page{
  background-image: url(../images/zaiskri-bg.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  display: flex;
  min-height: 300px;
  align-items: center;
  justify-content: center;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  font-size: 40px;
  font-weight: bold;
}

#first {
  color: #ffff;
}
#second{
  color: #960000b4;
}
/*boostrap login*/
.col-md-5{
  padding-top: 20px;
}

.hidden {
  display: none;
}

